.dart_tool/
.tools/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
.metadata
.packages
build/
coverage/
android/.gradle/
android/key.properties
ios/Pods/
ios/.symlinks/
android/local.properties
*.jks
*.keystore
*.p12
*.mobileprovision
